
<div class="card">
  <form>
    <div class="card-header bg-primary text-white">
     Header
    </div>

    <div class="card-body">

    </div>

    <div class="card-footer">
      <button class="btn btn-info" type="button" (click)="search()">ค้นหา</button>
      <button class="btn btn-default" type="button" (click)="clear()" style="margin-left: 10px">คืนค่า</button>
    </div>

  </form>
</div>

<div class="card" style="margin-top: 10px;">
  <form>
    <div class="card-header bg-primary text-white">
      Header
    </div>

    <div class="card-body">

    </div>

  </form>
</div>
<!--<h1>Preorder List</h1>
<p>{{ "back-http.text" | translate }}</p>

<hr>

<strong>{{ "back-http.delay" | translate }}</strong>
<pre *ngIf="result; else noResult">
    {{ result | json }}
</pre>
<pre *ngIf="resultHttpClient; else noResult">
  {{ resultHttpClient | json }}
</pre>
<ng-template #noResult>
    <p>{{ "loading" | translate }}...</p>
</ng-template>
<br/>
<strong>{{ "back-http.post" | translate }}</strong>
<pre>
    {{ resultPost | json }}
</pre>
<br/>
<strong>{{ "back-http.original-url" | translate }}</strong> {{ baseUrl }}-->
