<div class="card">

  <ol class="breadcrumb bg-success">
    <li class="breadcrumb-item"><a (click)="showReport(9)" class="font-weight-bold"
                                   style="cursor: pointer; color: white">รายการสั่งซื้อทั้งหมด</a></li>
    <li *ngIf="selectedReport<9" class="breadcrumb-item active" style="color: #4cffe9">{{header[selectedReport].name}}
    </li>
  </ol>

  <div class="card-body">
    <div class="list-group" *ngIf="selectedReport==9">
      <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="showReport(0)"><i
        class="fa fa-bitcoin"></i> รายการที่รอการตรวจสอบการชำระเงิน</a>
      <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="showReport(1)"><i
        class="fa fa-cubes"></i> รายการที่รอมารับสินค้า</a>
      <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="showReport(2)"><i
        class="fa fa-shopping-cart"></i> รายการที่รับสินค้าแล้ว</a>
      <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="showReport(3)"><i
        class="fa fa-trash"></i> รายการที่ถูกยกเลิก</a>
      <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="showReport(4)"><i
        class="fa fa-list-ol"></i> รายการทั้งหมด</a>
    </div>

    <div *ngIf="selectedReport<9">

      <div class="table-responsive rounded">
        <table class="table table-bordered rounded">
          <thead>
          <tr class="text-center bg-success text-white">
            <th>
              ลำดับการสั่ง
            </th>
            <th>
              วันที่สั่ง
            </th>
            <th>
              สถานะการชำระเงิน
            </th>
            <th>
              จัดการสถานะโดย
            </th>
            <th>
              ดูรายละเอียดการสั่งซื้อ
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td colspan="5" class="text-center" *ngIf="orderList.length < 1">*ยังไม่มีรายการที่เลือก</td>
          </tr>
          <ng-template ngFor let-item [ngForOf]="orderList" let-i="index">
            <tr id="accordion" class="rounded" [ngClass]="{'bg-hilight-head font-weight-bold':i==expandIndex}">
              <td class="text-center">D{{item.order_id}}</td>
              <td class="text-center">{{item.order_date | date:'d/M/yyyy'}}</td>
              <td class="text-center">
                <span *ngIf="item.status=='N'" class="text-warning"><i class="fa fa-times-circle"></i> ยังไม่ได้ยืนยันการชำระเงิน</span>
                <span *ngIf="item.status=='Y'" class="text-primary"><i class="fa fa-check-circle"></i> ชำระเงินเรียบร้อยแล้ว</span>
                <span *ngIf="item.status=='W'" class="text-info"><i class="fa fa-pause-circle"></i> รอการตรวจสอบหลักฐานการชำระเงิน</span>
                <span *ngIf="item.status=='S'" class="text-success"><i class="fa fa-check-square"></i> รับสินค้าเรียบร้อยแล้ว</span>
                <span *ngIf="item.status=='C'" class="text-danger"><i
                  class="fa fa-times-circle"></i> รายการถูกยกเลิก</span>
              </td>
              <td class="text-center">
                <span *ngIf="item.pay_by==''">-</span>
                {{item.pay_by}}
              </td>
              <td class="text-center">
                <button data-toggle="collapse"
                        data-target="#collapseDetail"
                        class="btn btn-sm btn-outline-info "
                        data-parent="#accordion"
                        (click)="showDetail(i)"><i
                  class="fa fa-shopping-cart"></i> ดูรายละเอียด
                </button>
              </td>
            </tr>
            <tr *ngIf="expandIndex==i" id="collapseDetail" class="collapse">
              <td colspan="5" class=" bg-hilight-bg">

                <div id="billPreOrder">
                  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                        crossorigin="anonymous">
                  <div class="container">
                    <h3 class="font-weight-bold"> ข้าวหลามดาบอ๊อด</h3>
                    <table class="table table-bordered">
                      <thead class="bg-hilight">
                      <tr class="text-center">
                        <th>รหัสสินค้า</th>
                        <th>ชื่อ</th>
                        <th>ไส้</th>
                        <th>ขนาด</th>
                        <th>จำนวน</th>
                        <th>ราคา</th>
                        <th>รวม</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let list of orderList[expandIndex].orderList;let j=index;">
                        <td class="text-center">{{list.p_id}}
                        </td>
                        <td class="text-center">{{list.p_name}}<br>
                          <img [src]="getImgPath(list.p_img)" width="125" height="70"></td>
                        <td class="text-center">{{list.mixer}}</td>
                        <td class="text-center">{{list.p_size}}</td>
                        <td>{{list.qty}}</td>
                        <td>{{list.price | currency:'  '}}</td>
                        <td>{{list.price * list.qty | currency:'  '}}</td>
                      </tr>
                      <tr>
                        <td colspan="4" class="text-right">รวม</td>
                        <td>{{orderList[expandIndex].totalQty + ' ชิ้น'}}</td>
                        <td colspan="2">{{totalExpandIndex | currency:'  '}} {{' บาท'}}</td>

                      </tr>
                      <tr>
                        <td colspan="7">
                          <div class="row">
                          <div class="col-6 text-center" >________________________<br>(________________________)<br>ผู้รับเงิน
                          </div>
                          <div class="col-6 text-center" >________________________<br>(________________________)<br>ผู้ชำระงิน
                          </div>
                        </div></td>
                      </tr>
                      </tbody>
                    </table>
                   <!-- -->
                  </div>
                </div>
                <div align="right">

                  <button class="btn btn-danger" (click)="printBillpreOrder()">พิมพ์ใบเสร็จ</button>
                  <div *ngIf="item.status=='N'" class="btn-group">
                    <button (click)="setOrderDetail(item)" class="btn btn-sm btn-primary"><i
                      class="fa fa-check-circle"></i> ยืนยันการชำระเงิน
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="updateStatus(item.order_id,'C')"><i
                      class="fa fa-times-circle"></i> ยกเลิกรายการสั่ง
                    </button>
                  </div>

                  <div *ngIf="item.status=='W'">
                    <label class="badge badge-warning">
                      <i class="fa fa-exclamation-circle"></i>
                      อยู่ในระหว่างการตรวจสอบหลักฐานการชำระเงิน
                    </label>
                    <br>
                    <button class="btn btn-sm btn-outline-warning" (click)="checkPaySlip(item)"><i
                      class="fa fa-edit"></i> ตรวจสอบการหลักฐาน
                    </button>
                  </div>

                  <div *ngIf="item.status=='Y'">
                    <button class="btn btn-sm btn-success" (click)="updateStatus(item.order_id,'S')"><i
                      class="fa fa-check"></i> ยืนยันการรับสินค้า
                    </button>
                  </div>
                  <label *ngIf="item.status=='S'" class="badge badge-success"><i class="fa fa-check-circle"></i>
                    รับสินค้าไปแล้ว
                  </label>
                </div>
              </td>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="paySlipDetail" tabindex="-1" role="dialog"
     aria-labelledby="paySlipDetail"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">รายการสั่งซื้อสินค้า</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <div class="modal-body">
          <ng-container *ngIf="selectedOrder!=null">
            <img [src]="getImgPath(selectedOrder.pay_img)" style="max-height: 100%; max-width: 100%">
            <hr>
            <div class="btn-group">
              <button class="btn btn-info btn-sm" type="button" (click)="updateStatus(selectedOrder.order_id,'Y')"><i
                class="fa fa-check-circle"></i> ยืนยันการตรวจสอบ
              </button>
            </div>
          </ng-container>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </div>
  </div>
</div>

