<div class="card">

  <ol class="breadcrumb bg-success">
    <li class="breadcrumb-item"><a (click)="showReport(9)" class="font-weight-bold"
                                   style="cursor: pointer; color: white">รายการสั่งซื้อทั้งหมด</a></li>
    <li *ngIf="selectedReport<9" class="breadcrumb-item active" style="color: #4cffe9">{{header[selectedReport].name}}
    </li>
  </ol>

  <div class="card-body">
    <div class="list-group" *ngIf="selectedReport==9">
      <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="showReport(5)"><i
        class="fa fa-bitcoin"></i> รายการที่ยังไม่ชำระเงิน</a>
      <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="showReport(0)"><i
        class="fa fa-bitcoin"></i> รายการที่รอการตรวจสอบการชำระเงิน</a>
      <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="showReport(1)"><i
        class="fa fa-cubes"></i> รายการที่รอมารับสินค้า</a>
      <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="showReport(2)"><i
        class="fa fa-shopping-cart"></i> รายการที่รับสินค้าแล้ว</a>
      <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="showReport(3)"><i
        class="fa fa-trash"></i> รายการที่ถูกยกเลิก</a>
      <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="showReport(4)"><i
        class="fa fa-list-ol"></i> รายการทั้งหมด</a>
    </div>

    <div *ngIf="selectedReport<9">

      <div class="table-responsive rounded">
        <table class="table table-bordered rounded">
          <thead>
          <tr class="text-center bg-success text-white">
            <th>
              ลำดับการสั่ง
            </th>
            <th>
              วันที่สั่ง
            </th>
            <th>
              สถานะการชำระเงิน
            </th>
            <th>
              ดูรายละเอียดการสั่งซื้อ
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td colspan="5" class="text-center" *ngIf="orderList.length < 1">*ยังไม่มีรายการที่เลือก</td>
          </tr>
          <ng-template ngFor let-item [ngForOf]="orderList" let-i="index">
            <tr id="accordion" class="rounded" [ngClass]="{'bg-hilight-head font-weight-bold':i==expandIndex}">
              <td class="text-center">D{{item.order_id}}</td>
              <td class="text-center">{{item.order_date | date:'d/M/yyyy'}}</td>
              <td class="text-center">
                <span *ngIf="item.status=='N'" class="text-warning"><i class="fa fa-times-circle"></i> ยังไม่ได้ยืนยันการชำระเงิน</span>
                <span *ngIf="item.status=='Y'" class="text-primary"><i class="fa fa-check-circle"></i> ชำระเงินเรียบร้อยแล้ว</span>
                <span *ngIf="item.status=='W'" class="text-info"><i class="fa fa-pause-circle"></i> รอการตรวจสอบหลักฐานการชำระเงิน</span>
                <span *ngIf="item.status=='S'" class="text-success"><i class="fa fa-check-square"></i> รับสินค้าเรียบร้อยแล้ว</span>
                <span *ngIf="item.status=='C'" class="text-danger"><i
                  class="fa fa-times-circle"></i> รายการถูกยกเลิก</span>
              </td>
              <td class="text-center">
                <button data-toggle="collapse"
                        data-target="#collapseDetail"
                        class="btn btn-sm btn-outline-info "
                        data-parent="#accordion"
                        (click)="showDetail(i)"><i
                  class="fa fa-shopping-cart"></i> ดูรายละเอียด
                </button>
              </td>
            </tr>
            <tr *ngIf="expandIndex==i" id="collapseDetail" class="collapse">
              <td colspan="5" class=" bg-hilight-bg">

                <div id="billPreOrder">
                  <div class="container">
                    <div align="center"><h4><b>ใบเสร็จรับเงิน ร้านข้าวหลามดาบอ๊อด </b></h4>
                      <h5 class="font-weight-bold"><b>ที่อยู่ร้าน</b>
                        100 ม.15 ต.จรเข้สามพัน อ.อู่ทอง จ.สุพรรณบุรี 72160</h5></div><br>

                    <div align="left">
                      <b>เลขที่ใบเสร็จ </b>{{orderList[expandIndex].order_id}}
                      <b>วันที</b>่ {{orderList[expandIndex].order_date | date:'dd/MM/yyyy hh:mm:ss'}}
                    </div>
                    <br>
                    <div align="center">
                      <table style="border: 1px solid black; border-collapse: collapse;" class="table table-bordered">
                        <thead style="border: 1px solid black;" class="bg-hilight text-center">
                        <tr style="border: 1px solid black;">
                          <th colspan="5" style="border: 1px solid black; ">ข้อมูลผู้ซื้อ</th>
                        </tr>
                        <tr style="border: 1px solid black;">
                          <th style="border: 1px solid black;">ชื่อผู้สั่งซื้อ</th>
                          <th style="border: 1px solid black;">เบอร์โทรศัพท์</th>
                          <th style="border: 1px solid black;">Line Id</th>
                          <th style="border: 1px solid black;">E-Mail</th>
                          <th style="border: 1px solid black;">ที่อยู่</th>
                        </tr>
                        </thead>
                        <tbody style="border: 1px solid black;">
                        <tr>
                          <td style="border: 1px solid black;">{{orderList[expandIndex].userDetail.name}}</td>
                          <td style="border: 1px solid black;">{{orderList[expandIndex].userDetail.tel}}</td>
                          <td style="border: 1px solid black;">{{orderList[expandIndex].userDetail.line_id}}</td>
                          <td style="border: 1px solid black;">{{orderList[expandIndex].userDetail.email}}</td>
                          <td style="border: 1px solid black;">{{orderList[expandIndex].userDetail.address}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <br>
                    <div align="center">
                      <table class="table table-bordered" style="border: 1px solid black; border-collapse: collapse;">
                        <thead class="bg-hilight" style="border: 1px solid black;">
                        <tr class="text-center">
                          <th style="border: 1px solid black;">รหัสสินค้า</th>
                          <th style="border: 1px solid black;">ชื่อ</th>
                          <th style="border: 1px solid black;">ไส้</th>
                          <th style="border: 1px solid black;">ขนาด</th>
                          <th style="border: 1px solid black;">จำนวน</th>
                          <th style="border: 1px solid black;">ราคา/กระบอก</th>
                          <th style="border: 1px solid black;">รวม</th>
                        </tr>
                        </thead>
                        <tbody style="border: 1px solid black;">
                        <tr *ngFor="let list of orderList[expandIndex].orderList;let j=index;">
                          <td style="border: 1px solid black;" class="text-center">{{list.p_id}}
                          </td>
                          <td style="border: 1px solid black;" class="text-center">{{list.p_name}}<br>
                            <img *ngIf="showImage" [src]="getImgPath(list.p_img)" width="125" height="70">
                          </td>
                          <td style="border: 1px solid black;" class="text-center">{{list.mixer}}</td>
                          <td style="border: 1px solid black;" class="text-center">{{list.p_size}}</td>
                          <td style="border: 1px solid black;">{{list.qty}}</td>
                          <td style="border: 1px solid black;">{{list.price / list.qty | currency:'  '}}</td>
                          <td style="border: 1px solid black;">{{list.price | currency:'  '}}</td>
                        </tr>
                        <tr style="border: 1px solid black;">
                          <td style="border: 1px solid black;" colspan="4" class="text-right">รวม</td>
                          <td style="border: 1px solid black;">{{orderList[expandIndex].totalQty + ' ชิ้น'}}</td>
                          <td style="border: 1px solid black;" colspan="2"
                              class="text-right">{{totalExpandIndex | currency:'  '}} {{' บาท'}}</td>

                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <br>
                    <div align="center">
                      ________________________<br><br>(________________________)<br>ผู้รับเงิน<br>วันที่....................................

                    </div>
                    <!-- -->
                  </div>
                </div>
                <div align="right">

                  <button class="btn btn-primary" (click)="printBillpreOrder()">พิมพ์ใบเสร็จ</button>
                  <br>
                  <div *ngIf="item.status=='N'" class="btn-group">
                    <button (click)="updateStatus(item.order_id,'S')" class="btn btn-sm btn-primary"><i
                      class="fa fa-check-circle"></i> ชำระด้วยเงินสด
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="updateStatus(item.order_id,'C')"><i
                      class="fa fa-times-circle"></i> ยกเลิกรายการสั่ง
                    </button>
                  </div>

                  <div *ngIf="item.status=='W'">
                    <label class="badge badge-warning">
                      <i class="fa fa-exclamation-circle"></i>
                      อยู่ในระหว่างการตรวจสอบหลักฐานการชำระเงิน
                    </label>
                    <br>
                    <button class="btn btn-sm btn-outline-warning" (click)="checkPaySlip(item)"><i
                      class="fa fa-edit"></i> ตรวจสอบการหลักฐาน
                    </button>
                  </div>

                  <div *ngIf="item.status=='Y'">
                    <button class="btn btn-sm btn-success" (click)="updateStatus(item.order_id,'S')"><i
                      class="fa fa-check"></i> ยืนยันการรับสินค้า
                    </button>
                  </div>
                  <label *ngIf="item.status=='S'" class="badge badge-success"><i class="fa fa-check-circle"></i>
                    รับสินค้าไปแล้ว
                  </label>
                </div>
              </td>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="paySlipDetail" tabindex="-1" role="dialog"
     aria-labelledby="paySlipDetail"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">รายการสั่งซื้อสินค้า</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <div class="modal-body">
          <ng-container *ngIf="selectedOrder!=null">
            <img [src]="getImgPath(selectedOrder.pay_img)" style="max-height: 100%; max-width: 100%">
            <hr>
            <div class="btn-group">
              <button class="btn btn-info btn-sm" type="button" (click)="updateStatus(selectedOrder.order_id,'Y')"><i
                class="fa fa-check-circle"></i> ยืนยันการตรวจสอบ
              </button>
            </div>
          </ng-container>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </div>
  </div>
</div>

