<h1> {{ "product-header"| translate}} </h1>
<hr>
<div class="card">
  <form>
    <div class="card-header bg-primary text-white">
      {{"search-criteria" | translate}}
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
        <th>{{"id" | translate}}</th>
        <th>{{ "name" | translate}}</th>
        <th>{{ "minimum-cost"| translate}}</th>
        <th>{{"maximum-cost" | translate}}</th>
        <th>{{ "size" | translate}}</th>
        <th>{{ "mixer"| translate}}</th>
        </thead>
        <tbody>
        <td><input class="form-control" name="searchId" id="searchId" [(ngModel)]="searchForm.p_id"></td>
        <td><input class="form-control" name="searchName" id="searchName" [(ngModel)]="searchForm.p_name"></td>
        <td>
          <input class="form-control" name="searchMin" id="searchMin" [(ngModel)]="searchForm.minPrice"></td>
        <td>
          <input class="form-control" name="searchMax" id="searchMax" [(ngModel)]="searchForm.maxPrice">
        </td>
        <td>
          <select class="custom-select" name="searchSize" id="searchSize" [(ngModel)]="searchForm.p_size">
            <option value=""></option>
            <option value="S">{{ "small" | translate}}</option>
            <option value="M">{{ "medium" | translate}}</option>
            <option value="L">{{ "big" | translate}}</option>
          </select>
        </td>
        <td>
          <input class="form-control" name="searchMix" id="searchMix" [(ngModel)]="searchForm.mixer"></td>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <button class="btn btn-info" type="submit" (click)="search()">{{ "search" | translate}}</button>
      <button class="btn btn-defualt" type="button" (click)="clear()"
              style="margin-left: 10px">{{"reset" | translate}}</button>
      <button class="btn btn-primary" type="button" style="margin-left: 10px" data-toggle="modal"
              data-target="#uploadModal">
        {{"add-new-product"  | translate}}
      </button>
    </div>
  </form>
</div>
<div class="row">
  <ng-template ngFor let-item [ngForOf]="productList" let-i="index">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin-top: 10px;">
      <div class="card " [ngClass]="{'bg-info':productList[i].isEdit}">
        <img class="card-img-top" [src]="getImgPath(item.p_img)" height="300">
        <div class="card-body">
          <div class="table-responsive table-borderless">
            <table class="table">
              <thead class="text-right">
              <tr *ngIf="item.limited_flag=='Y'">
                <td colspan="2">
                  <h4 class="text-center"><label class="badge badge-danger">
                    สินค้ามีให้สั่งจองและสั่งซื้อจนถึง {{item.expire_date | date:'d/M/yy'}}</label></h4>
                  <span>*เหลือเวลาจำหน่าย {{getDiffDate(item.expire_date)}} วัน</span></td></tr>
              <tr>
                <th>{{ "id" | translate}}</th>

                <td>
                  <input type="text" class="form-control" [(ngModel)]="productList[i].p_id"
                         [disabled]="true">
                </td>

              </tr>
              <tr>
                <th>{{ "name" | translate}}</th>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="productList[i].p_name"
                         [disabled]="!productList[i].isEdit">
                </td>

              </tr>
              <tr>
                <th>{{ "size" | translate}}</th>
                <td>
                  <select
                    class="custom-select"
                    id="sizeSelect{{i}}"
                    name="sizeSelect{{i}}"
                    [(ngModel)]="productList[i].p_size"
                    [disabled]="!productList[i].isEdit">
                    <option value="S">{{ "small" | translate}}</option>
                    <option value="M">{{ "medium" | translate}}</option>
                    <option value="L">{{ "big" | translate}}</option>
                  </select>
                </td>

              </tr>
              <tr>
                <th>{{ "price" | translate}}</th>
                <td>
                  <input type="number"
                         class="form-control"
                         name="price{{i}}"
                         id="price{{i}}"
                         [(ngModel)]="productList[i].price"
                         [disabled]="!productList[i].isEdit">
                </td>

              </tr>
              <tr>
                <th>{{ "mixer" | translate}}</th>
                <td>
                  <input type="text"
                         class="form-control"
                         name="productList{{i}}"
                         id="productList{{i}}"
                         [(ngModel)]="productList[i].mixer"
                         [disabled]="!productList[i].isEdit">
                </td>
              </tr>
              </thead>
            </table>
          </div>
          <!--*ngIf="productList[i].isEdit"-->
          <div class="pull-right">
            <button *ngIf="!productList[i].isEdit" (click)="edit(i)" class="btn btn-sm btn-info"><i
              class="fa fa-edit"></i>
              {{ "edit" | translate}}
            </button>

            <button *ngIf="productList[i].isEdit" class="btn btn-sm btn-warning" (click)="cancel(i)"><i
              class="fa fa-times"></i>
              {{ "cancel-edit" | translate}}
            </button>

            <button *ngIf="productList[i].isEdit" class="btn btn-sm btn-primary" (click)="save(i)"
                    style="margin-left: 10px;"><i
              class="fa fa-save"></i> {{ "save" | translate}}
            </button>

          </div>
        </div>
      </div>

    </div>


  </ng-template>

</div>
<!--(click)="addProduct()" -->

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> {{ "add-new-product" | translate}} </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group">
              <label for="idInput">{{ "id" | translate}}</label>
              <input type="text" class="form-control" id="idInput" name="idInput" [(ngModel)]="newProduct.p_id"
                     required>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group">
              <label for="nameInput">{{ "name" | translate}}</label>
              <input type="text" class="form-control" id="nameInput" name="nameInput" [(ngModel)]="newProduct.p_name"
                     required>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6">
            <label for="sizeSelect"> {{ "size" | translate}} </label>
            <select class="custom-select" id="sizeSelect" name="sizeSelect" [(ngModel)]="newProduct.p_size" required>
              <!--<option selected>Open this select menu</option>-->
              <option value="S">{{ "small" | translate}}</option>
              <option value="M">{{ "medium" | translate}}</option>
              <option value="L">{{ "big" | translate}}</option>
            </select>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6">
            <div class="form-group">
              <label for="priceInput">{{ "price" | translate}}</label>
              <input type="number" class="form-control" id="priceInput" name="priceInput" [(ngModel)]="newProduct.price"
                     required>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6">
            <div class="form-group">
              <label for="mixerInput"> {{ "mixer" | translate}} </label>
              <input type="text" class="form-control" id="mixerInput" name="mixerInput" [(ngModel)]="newProduct.mixer"
                     required>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6">
            <div class="form-group">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="limitedFlag" [(ngModel)]="newProduct.limitedFlag">
                <label class="custom-control-label" for="limitedFlag"> เมนู Limited </label>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-6">
            <label for="expireDate"> วันที่สิ้นสุดการวางขาย </label>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" [(ngModel)]="newProduct.expireDate" (ngModelChange)="checkPreorderDate($event)" [disabled]="!newProduct.limitedFlag" >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="container" align="center">
          <img class="rounded" [src]="uploadImg" width="250" height="250"><br>
          <p class="text-left">{{ "add-image" | translate}}</p>
          <div class="custom-file" width="250">
            <input type="file" (change)="uploadFile($event)" class="custom-file-input" id="uploadInput"
                   accept=".png,.jpg,.jpeg">
            <label class="custom-file-label" for="uploadInput">{{ "select-image" | translate}}</label>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                (click)="addNewProduct()"> {{ "add-new-product" | translate}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "close" | translate}}</button>

      </div>
    </div>
  </div>
</div>
