<!-- ยังไม่ได้ validate form create user -->

<div style="text-align: center">
  <h1>ผู้ใช้งานในระบบ</h1>
</div>
<hr>
<div class="row" style="margin: 10px">

  <div class="card col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-top: 15px;">
    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#createUserAccount">
      เพิ่มข้อมูลผู้ใช้งาน
    </button>
  </div>
  <div class="card col-lg-7 col-md-7 col-sm-7 col-xs-7" style="padding-top: 15px;">
    <div class="form-group">
      <input list="customerList" id="customerId" data-link-field="customerList" [(ngModel)]="username"
        class="form-control" placeholder="พิมพ์ชื่อหรือข้อมูลของผู้ใช้งาน" required />
      <datalist id="customerList">
        <option *ngFor="let item of UserAccount; let i = index">
          ({{item.username}}) คุณ {{item.name}}
        </option>
      </datalist>
    </div>
  </div>
  <div class="card col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-top: 15px;">
    <button class="btn btn-primary" type="button" data-toggle="modal" (click)="selectByUsername(item)">
      ค้นหา
    </button>
  </div>

</div>

<div class="row" style="margin: 10px; ">
  <div class="card col-lg-3 col-md-3 col-sm-3 col-xs-3 mx-auto" style="margin: 5px;"
    *ngFor="let item of allUserAccount; let i = index">
    <img class="card-img-top" style="margin-top: 15px;width: 100%;height: 250px;" [src]="getImgTobase64(item.image)"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{item.username}}</h5>
      <p class="card-text">ชื่อจริง-นามสกุล : {{item.name}}</p>
      <p class="card-text">เบอร์โทรศัพท์ : {{item.name}}</p>
      <p class="card-text">Line ID : {{item.name}}</p>
      <p class="card-text">E-mail : {{item.name}}</p>
      <p class="card-text">ที่อยู่ : {{item.name}}</p>
      <button class="btn btn-primary" type="button" style="float: right;" (click)="viewDetailByUser(item)">
        ดูข้อมูล
      </button>
    </div>
  </div>
</div>


<div class="modal fade" id="createUserAccount" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" align='center' style="margin-top: 35px;">เพิ่มข้อมูลผู้ใช้งาน
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="container">
        <form [formGroup]="registerForm" novalidate>
          <div class="container" align="center">
            <img class="rounded" [src]="uploadImg" width="250" height="250"><br>
            <div class="custom-file col-8" width="250">
              <input type="file" (change)="uploadFile($event)" formControlName="upLoadImage" class="custom-file-input"
                id="uploadInput" accept=".png,.jpg,.jpeg"><br>
              <label class="custom-file-label" for="uploadInput">เพิ่มรูปภาพ</label>
            </div>
          </div>
          <div class="form-group row">
            <label class="center-block col-12">ชื่อผู้ใช้งาน :
              <input type="text" class="form-control" formControlName="username" (input)="validateUsername()">
              <span class="text-danger" *ngIf="!validUsername"> ชื่อผู้ใช้นี้ถูกใช้แล้ว</span>
            </label>
            <label class="center-block col-6">รหัสผ่าน :
              <input type="password" class="form-control" formControlName="password" (input)="validatePassword()">
              <span class="text-danger" *ngIf="!validPassword"> กรุณาตั้งรหัสผ่านให้ตรงกัน </span>
            </label>
            <label class="center-block col-6">ยืนยันรหัสผ่าน:
              <input type="password" class="form-control" formControlName="confirmPassword"
                (input)="validatePassword()">
              <span class="text-danger" *ngIf="!validPassword"> รหัสผ่านไม่ตรงกัน </span>
            </label>
            <label class="center-block col-6">ชื่อจริง-นามสกุล:
              <input type="text" class="form-control" formControlName="name">
            </label>
            <label class="center-block col-6">เบอร์โทรศัพท์ :
              <input type="tel" class="form-control" formControlName="tel">
            </label>
            <label class="center-block col-12">ที่อยู่ :
              <textarea type="text" class="form-control" formControlName="address"></textarea>
            </label>
            <label class="center-block col-6">Line ID :
              <input type="text" class="form-control" formControlName="line_id">
            </label>
            <input type="hidden" class="form-control" formControlName="type" value="M">
            <label class="center-block col-6">E-mail:
              <input type="text" class="form-control" formControlName="email">
            </label>
            <div align='center' class=" col-12 mx-auto">
              <button type="submit" (click)='summitFormRegister()'
                [disabled]="registerForm.pristine || registerForm.invalid" class="btn btn-success">
                เพิ่มข้อมูลผู้ใช้งาน
              </button>
            </div>
          </div>
        </form>
        <!-- <p>Form value: {{ registerForm.value | json }}</p> -->
        <!-- <p>Form status: {{ registerForm.status | json }}</p> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="orderByUsername" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ข้อมูลการทำรายการทั้งหมดของคุณ {{objUser?.name}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="container" *ngIf="preOrderDetail">
        <h5 *ngIf="!preOrderDetail[0]" class="text-center" style="margin: 30px;">ยังไม่มีรายการสั่งซื้อของคุณ
          {{objUser?.name}}</h5>
          <div *ngIf="preOrderDetail[0]"><br>
            <p class="text-center">รายการทั้งหมดในการพรีออเดอร์</p>
            <div class="table-responsive rounded">
              <table class="table table-bordered rounded">
                <thead>
                  <tr class="text-center bg-success text-white">
                    <th>
                      เลขที่ใบเสร็จ
                    </th>
                    <th>
                      วันที่สั่งสินค้า
                    </th>
                    <th>
                      วันที่รับสินค้า
                    </th>
                    <th>
                      ราคา
                    </th>
                    <th>
                      ข้อมูล
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of preOrderDetail" id="accordion" class="rounded">
                    <td class="text-center">P{{item.pre_id}}</td>
                    <td class="text-center">{{item.pre_date }}</td>
                    <td class="text-center">{{item.receive_date}}</td>
                    <td class="text-center">{{item.netpay| currency:' '}}</td>
                    <td class="text-center">
                      <button *ngIf="item.payment_status === 'Y'" type="button" class="btn btn-success"
                        (click)="showOrderByPreId(item.pre_id)">ชำระเงินแล้ว</button>
                      <button *ngIf="item.payment_status === 'S'" type="button" class="btn btn-primary"
                        (click)="showOrderByPreId(item.pre_id)">ได้รับสินค้าแล้ว</button>
                      <button *ngIf="item.payment_status === 'W'" type="button" class="btn btn-warning"
                        (click)="showOrderByPreId(item.pre_id)">รอการตรวจสอบการชำระเงิน</button>
                      <button *ngIf="item.payment_status === 'N'" type="button" class="btn btn-danger"
                        (click)="showOrderByPreId(item.pre_id)">ยังไม่ได้ชำระเงิน</button>
                    </td>
                  </tr>
                  <tr *ngIf="sumPrice" id="accordion" class="rounded">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center">ราคารวม {{sumPrice| currency:' '}} บาท</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div *ngIf="orderList"><br>
            <p class="text-center">รายการทั้งหมดในการสั่งออเดอร์</p>
            <div class="table-responsive rounded">
              <table class="table table-bordered rounded">
                <thead>
                  <tr class="text-center bg-success text-white">
                    <th>
                      เลขที่ใบเสร็จ
                    </th>
                    <th>
                      วันที่สั่งสินค้า
                    </th>
                    <th>
                      จัดการสถานะโดย
                    </th>
                    <th>
                      ราคา
                    </th>
                    <th>
                      ข้อมูล
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of orderList" id="accordion" class="rounded">
                    <td class="text-center">P{{item.order_id}}</td>
                    <td class="text-center">{{item.order_date| date:'d/M/yyyy' }}</td>
                    <td class="text-center">{{item.pay_by}}</td>
                    <td class="text-center">{{item.net_pay| currency:' '}}</td>
                    <td class="text-center">
                      <button *ngIf="item.status === 'Y'" type="button" class="btn btn-success">รายการที่รอมารับสินค้า</button>
                      <button *ngIf="item.status === 'S'" type="button" class="btn btn-primary">รายการที่รับสินค้าแล้ว</button>
                      <button *ngIf="item.status === 'W'" type="button" class="btn btn-warning">รายการที่รอการตรวจสอบการชำระเงิน</button>
                      <button *ngIf="item.status === 'C'" type="button" class="btn btn-danger">รายการที่ถูกยกเลิก</button>
                    </td>
                  </tr>
                  <tr *ngIf="sumPrice" id="accordion" class="rounded">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center">ราคารวม {{sumPrice| currency:' '}} บาท</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
